@model LibraryAutomationSystem.ViewModel.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
    <script src="~/Scripts/Login.js"></script>
    <title>Şifre Değiştir</title>
</head>
<body style="background-image: url('/Content/IMG/img4.jpg'); background-repeat:no-repeat; background-size:cover">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                @if (TempData["notice"] != null)
                {
                    var warning = TempData["notice"];
                    if (warning == "Parolanız başarıyla değiştirildi.Giriş yapabilirsiniz")
                    {
                        <div style="background-color: #99CCCC; margin: 10px 10px; width: 336px; margin-left: 95px;" class="msgDiv">
                            <img src="~/Content/IMG/checked.png" />
                            <p id="message">@TempData["notice"]</p>
                        </div>
                    }
                    else
                    {
                        <div style="background-color: #99CCCC; margin: 10px 10px; width: 336px; margin-left: 95px;" class="msgDiv">
                            <img style="width: 35px;" src="~/Content/IMG/warning.png" />
                            <p id="message">@TempData["notice"]</p>
                        </div>
                    }
                }
                <fieldset>
                    <h2><b>Şifre Değiştir</b></h2>
                    <div class="form-group">
                        <label class="control-label">Eski Şifreniz:</label>
                        <span>*</span>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OldPassword)
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="control-label">Yeni Şifreniz:</label>
                        <span>*</span>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="control-label">Yeni Şifreniz Tekrar:</label>
                        <span>*</span>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ConfirmPassword)
                            @*@Html.ValidationMessageFor(model => model.ConfirmPassword)*@
                        </div>
                    </div>
                    <div class="btnDiv">
                        <input type="submit" id="sfre" value="Şifre Değiştir"/>
                        @Html.ActionLink("Giriş Yap", "Login")
                    </div>
                </fieldset>
            </div>
        </div>
    }
</body>
</html>
