@model LibraryAutomationSystem.ViewModel.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
    <script src="~/Scripts/UserAdd.js"></script>

    <title>Şifre Resetleme</title>
</head>
<body style="background-image: url('/Content/IMG/img4.jpg'); background-repeat:no-repeat; background-size:cover">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4">
                @if (TempData["notice"] != null)
                {
                    var warning = TempData["notice"];
                    if (warning == "Lütfen kullanıcı adınızı giriniz" || warning == "Yanlış kullanıcı adı girdiniz." || warning == "Zaten 30 dakika içerinde parola almışsınız.")
                    {
                        <div style="background-color: #99CCCC; margin: 10px 10px; width: 336px; margin-left: 95px;" class="msgDiv">
                            <img style="width: 35px;" src="~/Content/IMG/warning.png" />
                            <p id="message">@TempData["notice"]</p>
                        </div>
                    }
                    else
                    {
                        <div style="background-color: #99CCCC; margin: 10px 10px; width: 336px; margin-left: 95px;" class="msgDiv">
                            <img src="~/Content/IMG/checked.png" />
                            <p id="message">@TempData["notice"]</p>
                        </div>
                    }
                }
                <fieldset>
                    <h2><b>Şifre Resetleme</b></h2>
                    @if (TempData["notice"] == null)
                    {
                        <div class="form-group">
                            <label class="control-label">Kullanıcı Adınız:</label>
                            <span>*</span>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Username)
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>
                        </div>
                        <div class="btnDiv">
                            <input type="submit" onclick="sifreReset" id="sfre" value="Şifre Resetle"/>
                            @Html.ActionLink("Giriş Yap", "Login")
                        </div>
                    }
                    else
                    {                   
                        @Html.ActionLink("Giriş Yap", "Login")            
                        <div class="sifre">                          
                            @Html.ActionLink("Bu linkten şifrenizi istediğiniz gibi değiştirebilirsiniz", "ChangePassword")
                        </div>
                    }
                </fieldset>
            </div>
        </div>

    }
</body>
</html>
